.helper {
  border: 2px solid red;
}

.helper1 {
  border: 2px solid yellowgreen;
}

.container {
  position: absolute;
  top: 10%;
  left: 23%;
  width: 50%;
}

.text {
  display: inline;
  width: 100%;
}

.read-or-hide {
  color: rgb(43, 108, 176);
  cursor: pointer;
  font-weight: bolder;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 10px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

.card-shadow {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.scroll-container {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  border: 1px solid gray;
  scroll-snap-type: y mandatory;
}

.scroll-container.proximity {
  scroll-snap-type: y proximity;
}

.child {
  border-bottom: 1px solid white;
  /* padding: 3rem; */
  font-size: 1.4rem;
  height: 100vh;
  color: rgba(white, 0.5);
  background: lightgray;
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* Loader */
.customloader {
  width: 100%;
  height: 100vh;
  background: black;
  animation-delay: 7s;
  animation: gaayab forwards ease-in;
}

@keyframes gaayab {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#letter1 {
  stroke-dasharray: 1479px;
  stroke-dashoffset: 1479px;
  animation: line-anim 5s ease forwards;
}

#letter2 {
  stroke-dasharray: 993px;
  stroke-dashoffset: 993px;
  animation: line-anim 5s ease forwards;
}

#letter3 {
  stroke-dasharray: 993px;
  stroke-dashoffset: 993px;
  animation: line-anim 5s ease forwards;
}

#letter4 {
  stroke-dasharray: 877px;
  stroke-dashoffset: 877px;
  animation: line-anim 5s ease forwards;
}

#letter5 {
  stroke-dasharray: 1027px;
  stroke-dashoffset: 1027px;
  animation: line-anim 5s ease forwards;
}

#letter6 {
  stroke-dasharray: 551px;
  stroke-dashoffset: 551px;
  animation: line-anim 5s ease forwards;
}

#letter7 {
  stroke-dasharray: 838px;
  stroke-dashoffset: 838px;
  animation: line-anim 5s ease forwards;
}

#letter8 {
  stroke-dasharray: 968px;
  stroke-dashoffset: 968px;
  animation: line-anim 5s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
    fill: white;
  }
}

@keyframes fill {
  to {
    fill: black;
  }
}

/* Transitions */

.come-1 {
  animation: fadein 0.2s ease-in forwards;
  animation-delay: 0.5s;
  opacity: 0;
  transform: translateY("-200%");
}
.come-2 {
  animation: fadein 0.2s ease-in forwards;
  animation-delay: 0.5s;
  opacity: 0;
  transform: translateY("-200%");
}
.come-3 {
  animation: fadein 0.2s ease-in forwards;
  animation-delay: 0.5s;
  opacity: 0;
  transform: translateY("-200%");
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY("-200%");
  }
  to {
    opacity: 1;
    transform: translateY("0%");
  }
}
